.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.search-input {
    width: 400px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid #9a8989;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    border-color: #656416;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}



